@charset "UTF-8";
/* CSS Document */


header{
	background-color: #FA9BCF;
	padding: 15px;
	margin: none;
}

h1{
	color: #FA9BCF;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}


h2{
	color: #DA8EBA;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
body{
	background: #F4DBE9;
	font-size: 18px;
	line-height: 1.5em;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.wrapper {
	/*wdith: 1000px;
	padding: 40px;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 60px;
	margin-top: 20px;*/
	background: #ffffff;
    width: 972px; 
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
	padding: 20px 40px;
}

a{
	color: #FA9BCF;
}
a:hover{
	color:#FFCAE9;
}

nav.sitenav a{
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 32px; 
	color: #858ACD;
	bacground-color: #B4A2FF;
	font-weight: bold;
	font-size: 150%;
}

nav.sitenav a:hover{
	color: #FA9BCF;
	background-color: #858ACD;
}

nav.pagenav a{
	text-decoration: none;
}

table, th, td {
  border: 3px solid;
	color: #858ACD;
	padding: 10px;
}
table {
  border-collapse: collapse;
}

.gallery-grid {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-row-gap: 5px ;
            justify-items: center;
            align-items: start;
            justify-content: space-between;
        }
          
.gallery-item {
            width: 200px; /*should match the width of your images + width of border (if any) */
            text-align: center;
        } 

.gallery-item p {
            margin: .25em 0;
            line-height: 135%;
        }




