@charset "UTF-8";
/* CSS Document */

h1{
	color: #4B4A67;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 40px;
}
h2{
	color: #4B4A67;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 30px;
}
h3{
	color: #4B4A67;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 20px;
}
.gallery-grid {
            display: grid;
			grid-template-columns: auto auto auto;
            grid-row-gap: 50px ;
            justify-items: center;
            align-items:start;
            justify-content: space-between;
        }

.grid-wrapper {
  display: grid;
  grid-template-columns: .6fr .3fr;
  
}
body{
	background-color: #DDD1C7;
}

.grid-item {
  padding: 15px;
  background-color: #FFFFFF;
}

.wrapper {
	background: #FFFFFF;
    width: 972px; 
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
	padding: 20px 40px;
}

header{
	background-color: #C2CFB2;
	justify-content: center;
	padding:10px;
}

nav.sitenav a{
	text-decoration: none;
	color: #4B4A67;
	bacground-color: #C2CFB2;
	font-weight: bold;
	font-size: 200%;
	padding:10px;
}

/*nav.sitenav a:hover{
	color: #C2CFB2;
	background-color: #4B4A67;

}*/

.gallery-grid {
            display: grid;
			grid-template-columns: auto auto auto;
        }
          
.gallery-item {
            width: 300px; /*should match the width of your images + width of border (if any) */
            text-align: center;
        } 

table, th, td {
  border: none;
	color: #4B4A67;
	padding-left: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 30px;
	text-align: center;
	font-size: 16px;
	line-height: 2;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	border-bottom: 1px solid #4B4A67;
}

tr:hover {background-color: #ddd;}

table {
  border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
p{
	font-size: 16px;
	line-height: 2;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
ul{
		font-size: 16px;
	line-height: 2;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.worldmap {
	width: 900px;
	height: 600px;
	border: solid #5a5a5a 1px;
	background: url(images/worldmap.svg) no-repeat;
	background-size: 900px 600px;
	padding: 0;
	margin: 0; /* adjust as needed */
	position: relative; /* needed for positioning the icons */
}
.worldmap-item {
	height: 30px;
	position: absolute;
	}
 .worldmap-item span {
    display: none;  
}

.worldmap-item:hover span {
    display: inline; 
}

#worldmap-item-NY {
	top: 160px;
	right: 120px;
	color: black;
	}
	
#worldmap-item-LA {
	top:280px;
	left: 70px;
	color: black;
	}
#worldmap-item-SanFran {
	top:240px;
	left: 50px;
	color: black;
	}
#worldmap-item-ch {
	top:190px;
	left: 560px;
	color: black;
	}
#worldmap-item-mn {
	top:140px;
	left: 480px;
	color: black;
	}
#worldmap-item-atl {
	top:350px;
	left: 585px;
	color: black;
	}
#worldmap-item-wa {
	top:230px;
	left: 730px;
	color: black;
	}
